# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
*.pem
*.key

# AWS credentials/config
.aws/
credentials
config

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db